.AppPrincipal{
        display: flex;
        flex-direction: column;
        margin: -20px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.DivForm{
}
.buttonSubmit{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 160px;
    color: #000;
    background-color: rgb(253, 253, 253);
    border-radius: 25px;
}

h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}